{{ if not (eq .Params.showMeta false) }}
  <div class="postShorten-meta post-meta">
    {{ if not (eq .Params.showDate false)  }}
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ dateFormat .Site.Params.dateFormat .Date }}
      </time>
    {{ end }}
    {{ with .Params.categories }}
      <span>{{ i18n "post.categorized_in" }}</span>
      {{ range $k, $v := . }}
        <a href="{{ . | printf "%s%s" "/categories/" | urlize | lower | relLangURL }}">{{ . }}</a>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
