{{ partial "head.html" . }}
  <body>
    <div id="blog">
      {{ partial "header.html" . }}
      {{ partial "sidebar.html" . }}
      <div id="main" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
        <div id="tags-archives" class="main-content-wrap">
          <form id="filter-form" action="#">
            <input name="tag" type="text" class="form-control"
                   placeholder="{{ i18n "global.search_tag" }}" autofocus="autofocus">
            <span class="archive-result"
                  data-message-zero="{{ i18n "global.tags_found.zero" }}"
                  data-message-one="{{ i18n "global.tags_found.one" }}"
                  data-message-other="{{ i18n "global.tags_found.other" }}"></span>
          </form>
            <section>
              {{ range .Data.Terms.ByCount }}
                <a class="tag" href="#{{ .Name | urlize }}-list" data-tag="{{ .Name }}">
                  {{ replace .Name "-" " " }}
                </a>
              {{ end }}
            </section>
            <section class="boxes">
              {{ range .Data.Terms.ByCount }}
                <div id="{{ .Name | urlize }}-list" class="archive box" data-tag="{{ .Name }}">
                  <h4 class="archive-title">
                    <a href="{{ .Name | urlize }}">{{ replace .Name "-" " " }}</a>
                  </h4>
                  <ul class="archive-posts">
                    {{ range .Pages.ByDate.Reverse }}
                      <li class="archive-post">
                        <a class="archive-post-title" href="{{ .Permalink }}">
                          {{ .Title }}
                        </a>
                      </li>
                    {{ end }}
                  </ul>
                </div>
              {{ end }}
            </section>
        </div>
        {{ partial "footer.html" . }}
      </div>
    </div>
{{ partial "foot.html" . }}
